# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Prospecting
# This key is used to secure the /api/import endpoint
PROSPECTING_SECRET_KEY=your_secure_random_key
password=Yonya@2026